# Configuration file

change_require_level {
    I:"Level 1-10"=1
    I:"Level 10-40"=5
    I:"Level 40-75"=8
    I:"Level 75-85"=10
    I:"Level 85-90"=14
    I:"Level 90-95"=20
    I:"Level 95-100"=25
}


